<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984874298502-shuiva21q61l1h67fmfoj950caar4csl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984874298502-shuiva21q61l1h67fmfoj950caar4csl</string>
	<key>API_KEY</key>
	<string>AIzaSyDv_2rYZQVcnGCqf5COquUzlm1LcVq2pq0</string>
	<key>GCM_SENDER_ID</key>
	<string>984874298502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clubTask</string>
	<key>PROJECT_ID</key>
	<string>club-task</string>
	<key>STORAGE_BUCKET</key>
	<string>club-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984874298502:ios:42593a1342fe6313127507</string>
</dict>
</plist>